*{
  font-size: 16px;
}

html{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-color: hsl(47, 88%, 63%);
}

a{
  color: black;
  list-style: none;
  border-style: none;
  text-decoration: none;
}

h1{
  font-size: 22px;
}

a:hover{
  color: hsl(47, 88%, 63%);
  
}

.para{
  color: hsl(0, 0%, 50%);
}

.separador{
  padding: 4%;
}

.box{
  box-sizing: content-box;
  padding: 1%;
  background-color: white;
  border-radius: 20px;
  content: 20px 40px;
  width: 320px;
  align-self: center;
  box-shadow: 12px 25px black;
  position: relative;
  margin: 10% 40%;
}

.imgfundo{
  border-radius: 20px;
  box-sizing: border-box;
  width: 320px;

  padding: 5px 2px 10px;
}

.sub{
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;

  padding: 2px 10px;
  height: 25px;
}

.rodape{
  display: flex;
  box-sizing: border-box;
}

.greg{
  width: 40px;
  height: 40px;
  padding: 1%   2%;
}
